body {
  background-color: #e5e5e5;
  font-family: "Montserrat", sans-serif;
}

.about-me-prof {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: black;
  margin-bottom: 20px;
}
.name {
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
}
.about-me-desc {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  width: 400px;
  color: #595959;
}

.main-section {
  padding: 100px 90px;
}

.about-me-section {
  margin: 0 0 40px 0;
}
.main-content-section {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background: white;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

.main-content-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.projects-section {
  margin: 0 0 50px 0;
}
.proj-list {
  padding: 0 0 0 17px;
}
.proj-item {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
.proj-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.proj-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}
.proj-bracket {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
.experience-section {
}
.experience-company-all {
  margin: 0 15px 0 0;
}
.experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}
.experience-company {
  color: #fb6d3a;
}
.experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.experience-period span {
  color: black;
}
.experience-list {
  padding: 0 0 0 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.education-section {
  margin: 40px 0;
}
.education-position {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 10px 0;
}
.education-company {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 0 0 10px 0;
}
.education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.education-period span {
  color: black;
}
/* sidebar section */
.sidebar-section {
  padding: 40px 0;
  background: #1e2939;
  color: white;
  width: 370px;
}
.sidebar-contacts,
.sidebar-tech,
.sidebar-soft {
  margin: 50px 0 0 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
.sidebar-contacts-type {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  margin-right: 7px;
}
.sidebar-contacts-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #565e6a;
}
.sidebar-tech-list {
  padding-left: 17px;
}
.sidebar-tech-item {
  color: #fb6d3a;
}

.sidebar-tech-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.sidebar-tech-list li {
  color: #fb6d3a;
}
.sidebar-tech-list li span {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
